{% extends 'base.html' %}

{% block content %}

<p><a href="{% url 'new' %}">리뷰작성</a></p>
<section class="container text-center">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">리뷰제목</th>
        <th scope="col">작성시간</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for review in reviews %}
      <tr>
        <th scope="row">{{ review.pk }}</th>
        <td><a href="{% url 'detail' review.pk %}">{{ review.title }}</a></td>
        <td>{{ review.created_at.year }}년 {{ review.created_at.month }}월 {{ review.created_at.day }}일</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}