<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="icon" type="image/logo.png" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style>
    @font-face {
      font-family: "NetflixSans";
      src: url("fonts/NetflixSans-Regular.woff2") format("woff2");
      font-weight: normal;
      font-style: normal;
    }

    * {
      font-family: 'NetflixSans';
    }

    .nav-logo {
      width: 5rem;
      object-fit: cover;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="nav mx-1">
      <a href="index.html"><img class="nav-logo mx-1"
          src="https://user-images.githubusercontent.com/66688033/193211411-15f19a4c-d81f-409c-955a-ec224c8671be.png" /></a>
    </div>
    <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--  두 항목을 오른쪽으로 밀기 .me-auto -->
      <!-- .navbar-nav으로 full-height와 보다 가벼운 네비게이션(드롭다운을 위한 지원 포함)을 실현. -->
      <ul class="navbar-nav mb-2 mx-3 mb-lg-0 ms-lg-4 align-items-end">
        <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Community</a></li>
        <li class="nav-item"><a class='nav-link' href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-bs-whatever="@mdo">Login</a></li>
      </ul>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="email-address" class="col-form-label">Email address</label>
                <input type="text" class="form-control" id="email-address">
                <p class="text-black-50">We'll never share your email with anyone else.</p>
              </div>
              <div class="mb-3">
                <label for="password" class="col-form-label">Password</label>
                <input type="text" class="form-control" id="password">
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Check me out
                </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- 게시판 영역 -->
  <section class="mx-5 ">
    <!-- 게시판 제목 -->
    <div class="text-center my-5 mx-5">
      <a href="{% url 'index' %}">
        <h1>Community</h1>
      </a>
    </div>
    <!-- 게시판 내용 -->
    <div class="row">
      <!-- 테이블 헤더 -->
      <div class="col-lg-3 col-md-12 px-5 mb-3">
        <ul class="list-group">
          <li class="list-group-item"><a class="text-decoration-none" href="#">Boxoffice</a></li>
          <li class="list-group-item"><a class="text-decoration-none" href="#">Movies</a></li>
          <li class="list-group-item"><a class="text-decoration-none" href="#">Genres</a></li>
          <li class="list-group-item"><a class="text-decoration-none" href="#">Actors</a></li>
        </ul>
      </div>
      <div class="col-lg-9 col-md-12 px-5 mb-3">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </section>
  <footer class="py-3 bg-dark col-12 position-fixed bottom-0">
    <div class="container px-4 px-lg-5">
      <p class="m-0 text-center text-white">Web Bootstrap PROJ. by 조수람, 최준혁</p>
    </div>
  </footer>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>